<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">

	<activeProfiles>
		<activeProfile>Ambiente de LOCAL</activeProfile>
	</activeProfiles>

	<profiles>
      <profile>
        <id>Ambiente de LOCAL</id>
        <properties>
          <maven.test.skip>true</maven.test.skip>
        </properties>
      </profile>
	  
	  <profile>
      <id>compiler</id>
        <properties>
          <JAVA_1_5_HOME>C:\Java\jdk\jdk1.5.0_22</JAVA_1_5_HOME>
        </properties>
	  </profile>
	  
	  <profile>
	  <repositories>
    <repository>
        <id>softeu-repo</id>
        <url>http://maven.softeu.cz/</url>
    </repository>
</repositories>
	  </profile>
	  
	   <profile>
      <id>jboss-public-repository</id>
      <repositories>
        <repository>
          <id>jboss-public-repository-group</id>
          <name>JBoss Public Maven Repository Group</name>
          <url>https://repository.jboss.org/nexus/content/groups/public/</url>
          <layout>default</layout>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>jboss-public-repository-group</id>
          <name>JBoss Public Maven Repository Group</name>
          <url>https://repository.jboss.org/nexus/content/groups/public/</url>
          <layout>default</layout>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>

	  
	  
	</profiles>

	<mirrors>
		
		<!--mirror>
		<id>nexus</id>
		<name>nexus</name>
		<url>http://maven.jahia.org/maven2/com/oracle/public</url>
		<mirrorOf>*</mirrorOf>
		</mirror>
		
		
		<mirror>
		<id>nexus</id>
		<name>nexus</name>
		<url>http://cvs.cddesenv.intranet:8081/nexus/content/groups/public</url>
		<mirrorOf>*</mirrorOf>
		</mirror-->
		
		<mirror>
			<id>internal</id>
			<name>SeedTS</name>
			<url>http://200.204.184.161:8080/Archiva/repository/internal/</url>
			<mirrorOf>*</mirrorOf>
		</mirror>
		<mirror>
		<id>public</id>
			<name>Public Nexus</name>
			<url>http://repository.sonatype.org/nexus/content/groups/public/</url>
		<mirrorOf>*</mirrorOf>
		</mirror>
		
		
		
		
  	</mirrors>

  <proxies>
    <proxy>
      <id>myproxy</id>
      <active>true</active>
      <protocol>http</protocol>
      <host>proxy</host>
      <port>3128</port>
      <username>cxf3705</username>
      <password>serasaS4</password>
      <nonProxyHosts>cvs.cddesenv.intranet</nonProxyHosts>
    </proxy>
  </proxies>

	
</settings>
